# Specify the language for syntax highlighting on GitHub
algorithm linguist-language=C++
array linguist-language=C++
atomic linguist-language=C++
bitfield linguist-language=C++
cassert linguist-language=C++
cctype linguist-language=C++
cerrno linguist-language=C++
cstdio linguist-language=C++
cstdlib linguist-language=C++
cstring linguist-language=C++
cwchar linguist-language=C++
expected linguist-language=C++
iterator linguist-language=C++
memory linguist-language=C++
memory_resource linguist-language=C++
mutex linguist-language=C++
new linguist-language=C++
optional linguist-language=C++
pair linguist-language=C++
random linguist-language=C++
string linguist-language=C++
string_view linguist-language=C++
tuple linguist-language=C++
utility linguist-language=C++
vector linguist-language=C++